@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome5Brands';
  src: url('./fonts/FontAwesome5BrandsRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 /* svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor } */
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

:root {
--font-family-base: 'Montserrat', sans-serif;
--font-family-accent: 'Manrope', sans-serif;
--font-family-icons: 'FontAwesome5Brands';
}

body {
  font-family: var(--font-family-base);
  color: #fff;
  background-color: #fff;
}

h1,h2,h3 {
  font-family: var(--font-family-base);
  font-weight: 500;
  color: #000;
}

h1 {
  font-size: 46px;
  line-height: 1.86;
}

h2 {
  font-size: 34px;
  line-height: 2.51;
}

h3 {
  font-size: 24px;
  line-height: 1.08;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.wrapper {
  background-image: url("./images/welcome-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 78px;
}

.container {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.header {
  padding-top: 19px;
}
/*  */
/*  */
/*  */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list, .header__contact, .header__city {
display: inline-flex;
}

.header__list {
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  gap: 36px;

}

.header__contact, .header__city {
  font-weight: 600;
  margin-top: 3px;
  font-size: 22px;
}

.header__city {
  flex-basis: 177px;
}

.header__city::after {
  position: relative;
  left: 50px;
  bottom: 5px;
  
  content: url('./icons/arrow.svg');
}

.header__city-image {
  position: relative;
  right: 8px;
  bottom: 3px;
}

.header__contact-image {
  position: relative;
  right: 11px;
}

.header__contact {
  margin-left: 19px;
}

.header__menu {
  margin-left: 7px;
  flex-basis: 470px;
}

.header__menu li {
  display: flex;
  align-items: center;
}
/*  */
/*  */
/*  */
.header__menu a {
  transition-duration: 0.2s;
}

.header__services-list_button {
  border: none;
  background: none;
  transition-duration: 0.2s;
  padding: 20px 0;
  
  color: #fff;
}

.header__services-list_content {
  display: none;
  position: absolute;
  top: 67px;
  z-index: 1;

  background-color: #fff;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);

  min-width: 307px;
  min-height: 271px;
  max-height: 271px;

  padding: 16px 0px 16px 26px;
}

.header__services-list_content a {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.735;

  color: #000;
  text-decoration: none;
  display: block;
}

.header__services-list_content hr {
  content: "";
  display: block; 
  
  margin: 1px 0 0 0;

  width: 255px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
}

.header__menu a[class]:hover {
  color: #7BCBFF;
}
.header__menu a:not([class]):hover {
  color: #1277D3;
}

.header__services-list:hover .header__services-list_content {
  display: block;
  color: #1277D3;
}

.header__services-list_button:hover {
  color: #7BCBFF;
}

.hero__info {
  width: 400px;
}

.hero__text {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 30px;

  color: #fff;
}

.hero__list {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.67;
}

.hero__list li {
  background: url('./icons/mark.svg') no-repeat 0px center;
  padding-left: 20px;
  list-style-type: none;
}

.hero__box {
  display: block;
  align-items: center;
  justify-content: center;
  float: right;
  text-align: center;
  
  position: relative;
  z-index: 200;
  /* padding-bottom: 139px; */
  bottom: 37px;
  left: 5px;

  width: 381px;
  height: 462px;
  background-color: rgb(0 94 163 / 0.7);
  border-radius: 6px;
  border: 3px solid #53b0ff;
}

.hero__box-text {
  margin-top: 29px;
  margin-left: 2px;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;

  color:#fff;
}

.hero__box-text span {
  margin-right: 8px;
}
.hero__box input {
  width: 278px;
  height: 50px;
  margin-left: 4px;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 300px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 4px;
  color: #fff;

  background-color: #18589E;
  background-clip: padding-box;
  border: 1px solid #4a8fce;
  border-radius: 6px;
  outline: none;
}

.hero__box textarea {
  width: 278px;
  height: 96px;
  margin-left: 4px;
  margin-bottom: 3px;

  font-size: 16px;
  font-weight: 300px;
  padding: 11px 19px;
  color: #fff;

  background-color: #18589E;
  background-clip: padding-box;
  border: 1px solid #4a8fce;
  border-radius: 6px;
  resize: none;
  outline: none;
}

.hero__box input::placeholder, .hero__box textarea::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-weight: 300;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}

.hero__submit {
  margin-left: 4px;
  width: 278px;
  height: 47px;
  margin-bottom: 16px;

  color: #fff;
  font-weight: 700;
  font-size: 16px;

  border: 0px solid rgba(0 103 255 / 0.3);
  background-color: #53B0FF;
  border-radius: 4px;

  transition-duration: 0.6s;
}

.hero__submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #1277D3;
}

.hero__policy {
  margin-left: 4px;
  font-weight: 500;
  font-size: 11px;
}

.hero__policy-link:hover {
  text-decoration: underline;
}

.hero img {
  position: absolute;
}

.hero__image-man {
  top: -28px;
  left: 303px;
}

.hero__image-woman {
  top: 47px;
  left: 633px;
  z-index: 100;
}

.hero.container {
  margin-top: 137px;
  padding-bottom: 162px;
}

.hero__button {
  visibility:hidden;

  position: absolute;
  top: 310px;

  width: 50px;
  height: 209px; 

  font-weight: 600;
  font-size: 15px;
  line-height: 240%;
  color: #fff;

  background-color: #003F84;
  border-style: none;
  border-radius: 0 6px 6px 0;

  transition-duration: 0.5s;
}

.hero__button-up {
  font-weight: 500;
  font-size: 32px;
}

.hero__button-left {
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(-180deg); 
  top: 7px;
  right: 2px;
}

.hero__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (hover: hover){

}

@media (min-width: 1400px) and (max-width: 2561px) {
  .hero__button {
    visibility:visible;
  }
}

.services .container {
  max-width: 1344px;
  padding-bottom: 70px;
}

.title_h1 {
  text-align: center;
  margin-bottom: 31px;

  line-height: 1.86;
}

.services__list-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
}

.services__item-image {
  max-width: 401px;
  position: relative;

  transition-duration: 0.2s;
}

.services__item-image:hover {
  transform: scale(1.03);
}
.review__video-switch iframe:hover {
  box-shadow: 0 0 10px 0 #1987EC;
}

.services__item-image h3 {
  position: absolute;
  top: 126px;
  left: 49px;
  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.30;

  color: #fff;
}

.services__item-icon {
  position: absolute;
}

.services__item-image svg {
  position: absolute;
  right: 33px;
  bottom: 44px;
}

.one {
  top: 30px;
  left: 46px;
}

.two {
  top: 29px;
  left: 39px;
}

.three {
  top: 32px;
  left: 40px;
}

.four {
  top: 27px;
  left: 46px;
}

.five {
  top: 29px;
  left: 44px;
}

.six {
  top: 25px;
  left: 46px;
}

.review.container {
  margin-top: 61px;
}

.review__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;

  margin-bottom: 45px;
}

.review__item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cdd1d8;
  border-radius: 4px;
  width: 400px;
  height: 417px;

  position: relative;
  background-color: #fff;
}

.review__item * {
  position: absolute;
}

.review__author-photo {
  top: 31px;
  left: 27px;
}
.review__data-review {
  top: 22px;
  left: 144px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 2.17;
  color: #828282;
}

.review__author-name {
  top: 54px;
  left: 144px;

  font-weight: 500;
  font-size: 17px;
  line-height: 1.29;
  color: #1277d3;
}

.review__case {
  top:106px;
  left: 144px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: #000;
}

.review__author-text {
  width: 347px;
  height: 156px;
  
  top: 168px;
  left: 27px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  color: #000;
}

.review__author-text a{
  align-items: center;
  color: #1277D3;
}

.review__author-text a:hover {
  text-decoration: underline;
}

.review__case-link {
  top: 353px;
  left: 57px;

  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-transform: uppercase;
  color: #1277d3;
}

.review__item img:not([class]) {
  top: 346px;
  left: 20px;
}

.review__submit {
  display: block;
  margin: 0 auto 70px auto;
  width: 199px;
  height: 47px;

  color: #424242;
  font-weight: 700;
  font-size: 14px;
  line-height: 2.22;
  text-align: center;

  border: 2px solid #1987ec;
  background-color: #fff;
  border-radius: 4px;

  transition-duration: 0.6s;
}

.review__submit:hover {
  cursor: pointer;
  background-color: #1987EC;
  color: #fff;
}

.review__video {
  display: flex;
  justify-content: center;
  gap: 38px;

  margin: 0 30px;
}

.review__video-switch {
  position: relative;
  max-width: 1536px;
  padding: 0 30px;
  margin: 0 auto 61px auto;

  transition-duration: 0.5s;
}

.review__video-switch iframe {
    transition-duration: 0.5s;
}

.review__video-switch svg:nth-child(1),.review__video-switch svg:nth-child(2) {
  position: absolute;
  top: 86px;
  transition-duration: 0.2s;
}

.review__video-switch svg:nth-child(1) {
  left: 50px;
}
.review__video-switch svg:nth-child(2) {
  right: 50px;
}

.review__video-switch svg:hover {
  cursor: pointer;
}
